<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://atlas-project-felix.web.cern.ch" target="felix">
          <svg aria-hidden="true" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120.77863 48.67564" width="86" height="36" style="padding-top: 0px;margin-top: 10px;margin-bottom: 0px;">
            <defs
              id="defs4" />
            <sodipodi:namedview
              id="base"
              pagecolor="#ffffff"
              bordercolor="#666666"
              borderopacity="1.0"
              inkscape:pageopacity="0.0"
              inkscape:pageshadow="2"
              inkscape:zoom="15.839192"
              inkscape:cx="67.12177"
              inkscape:cy="21.556194"
              inkscape:document-units="px"
              inkscape:current-layer="layer1"
              showgrid="false"
              fit-margin-top="0"
              fit-margin-left="0"
              fit-margin-right="0"
              fit-margin-bottom="0"
              inkscape:window-width="1855"
              inkscape:window-height="1176"
              inkscape:window-x="1985"
              inkscape:window-y="24"
              inkscape:window-maximized="1" />
            <metadata
              id="metadata7">
              <rdf:RDF>
                <cc:Work
                  rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                  <dc:title />
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <g
              inkscape:label="Layer 1"
              inkscape:groupmode="layer"
              id="layer1"
              transform="translate(-290.51243,-396.14153)">
              <path
                style="fill:none;stroke:#ffffff;stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                d="m 293.01411,398.64153 74.86885,0 26.51343,43.67564 14.39299,0"
                id="path2996"
                inkscape:connector-curvature="0" />
              <path
                style="fill:none;stroke:#ffffff;stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                d="m 293.01243,442.28729 74.87102,0 26.5142,-43.61587 14.39341,0"
                id="path2996-2"
                inkscape:connector-curvature="0" />
              <rect
                style="fill:#3d5eab;fill-opacity:1"
                id="rect3786"
                width="0.50507629"
                height="0.12626907"
                x="338.40109"
                y="397.53079" />
              <text
                xml:space="preserve"
                style="font-size:37.62272644px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;font-family:sans-serif"
                x="307.82883"
                y="409.20303"
                id="text3788"
                sodipodi:linespacing="125%"
                transform="scale(0.94056814,1.0631872)"><tspan
                  sodipodi:role="line"
                  id="tspan3790"
                  x="307.82883"
                  y="409.20303">FELI</tspan></text>
            </g>
          </svg>
        </a>



        {{!-- <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a> --}}
      </div>

      
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{!-- <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Projects</div>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Core</strong></div>
            <a class="navbar-item" href="https://gitlab.com/antora/antora">Repository</a>
            <a class="navbar-item" href="https://gitlab.com/antora/antora/issues">Issue Tracker</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Default UI</strong></div>
            <a class="navbar-item" href="https://gitlab.com/antora/antora-ui-default">Repository</a>
            <a class="navbar-item" href="https://gitlab.com/antora/antora-ui-default/issues">Issue Tracker</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://gitlab.com/antora/antora/blob/master/contributing.adoc">Contributing</a>
          </div>
        </div> --}}
        {{!-- <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Community</div>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="https://gitter.im/antora/users">Chat (Users)</a>
            <a class="navbar-item" href="https://gitter.im/antora/dev">Chat (Dev)</a>
          </div>
        </div> --}}
        <a class="navbar-item" href="https://gitlab.cern.ch/atlas-tdaq-felix-dev/felix-user-manual" target="gitlab" aria-label="Gitlab CERN">
          <span class="icon">
            <svg aria-hidden="true" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <g id="logo-square" sketch:type="MSArtboardGroup">
                      <g id="logo-no-bg" sketch:type="MSLayerGroup" transform="translate(2.000000, 19.000000)">
                          <g id="Page-1" sketch:type="MSShapeGroup">
                              <g id="gitlab_logo">
                                  <g id="g10" transform="translate(248.000000, 228.833300) scale(1, -1) translate(-248.000000, -228.833300) translate(0.000000, 0.333300)">
                                      <g id="g16">
                                          <g id="g18-Clipped">
                                              <g id="g18">
                                                  <g>
                                                      <g id="Group" transform="translate(0.666658, 0.666658)">
                                                          <g id="g44" transform="translate(0.532000, 0.774933)" fill="#FC6D26">
                                                              <path d="M491.999988,194.666662 L464.441322,279.481326 L409.82399,447.578655 C407.014656,456.226655 394.778657,456.226655 391.96799,447.578655 L337.349325,279.481326 L155.982663,279.481326 L101.362664,447.578655 C98.5533309,456.226655 86.3173312,456.226655 83.5066646,447.578655 L28.8893326,279.481326 L1.33199997,194.666662 C-1.18266664,186.930662 1.57199996,178.455996 8.1519998,173.674662 L246.665327,0.385333324 L485.179988,173.674662 C491.759988,178.455996 494.513321,186.930662 491.999988,194.666662" id="path46"></path>
                                                          </g>
                                                          <g id="g48" transform="translate(156.197863, 1.160267)" fill="#E24329">
                                                              <path d="M90.9999977,0 L90.9999977,0 L181.683995,279.095993 L0.31599997,279.095993 L90.9999977,0 L90.9999977,0 Z" id="path50"></path>
                                                          </g>
                                                          <g id="g56" transform="translate(28.531199, 1.160800)" fill="#FC6D26">
                                                              <path d="M218.666661,0 L127.982663,279.09466 L0.890666644,279.09466 L218.666661,0 L218.666661,0 Z" id="path58"></path>
                                                          </g>
                                                          <g id="g64" transform="translate(0.088533, 0.255867)" fill="#FCA326">
                                                              <path d="M29.3333326,279.999993 L29.3333326,279.999993 L1.77466662,195.185328 C-0.738666648,187.449329 2.01466662,178.974662 8.59599979,174.194662 L247.109327,0.905333311 L29.3333326,279.999993 L29.3333326,279.999993 Z" id="path66"></path>
                                                          </g>
                                                          <g id="g72" transform="translate(29.421866, 280.255593)" fill="#E24329">
                                                              <path d="M0,0 L127.091997,0 L72.4733315,168.097329 C69.6626649,176.746662 57.4266652,176.746662 54.617332,168.097329 L0,0 L0,0 Z" id="path74"></path>
                                                          </g>
                                                          <g id="g76" transform="translate(247.197860, 1.160800)" fill="#FC6D26">
                                                              <path d="M0,0 L90.6839977,279.09466 L217.775995,279.09466 L0,0 L0,0 Z" id="path78"></path>
                                                          </g>
                                                          <g id="g80" transform="translate(246.307061, 0.255867)" fill="#FCA326">
                                                              <path d="M218.666661,279.999993 L218.666661,279.999993 L246.225327,195.185328 C248.73866,187.449329 245.985327,178.974662 239.403994,174.194662 L0.890666644,0.905333311 L218.666661,279.999993 L218.666661,279.999993 Z" id="path82"></path>
                                                          </g>
                                                          <g id="g84" transform="translate(336.973725, 280.255593)" fill="#E24329">
                                                              <path d="M127.999997,0 L0.907999977,0 L55.5266653,168.097329 C58.3373319,176.746662 70.5733316,176.746662 73.3826648,168.097329 L127.999997,0 L127.999997,0 Z" id="path86"></path>
                                                          </g>
                                                      </g>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
